<section id="basics" class="column">
  <header class="phicols">
    <div id="image" class="center">
      <img src="{{ basics.image }}">
    </div>
    <div id="person" class="column center">
      <span id="name">
        {{ basics.name }}
      </span>
      {% if basics.label %}
      <span id="label" class="secondary">
        {{ basics.label }}
      </span>
      {% endif %}
    </div>
  </header>
  {% if basics.email or basics.phone or basics.url or basics.location.countryCode %}
  <address class="row center">
    {% if basics.email %}
    <span id="email">
      <a href="mailto:{{ basics.email }}">{{ basics.email }}</a>
    </span>
    {% endif %}
    {% if basics.phone %}
    <span id="phone">
      <a href="tel:{{ basics.phone }}">{{ basics.phone }}</a>
    </span>
    {% endif %}
    {% if basics.url %}
    <span id="url">
      <a href="{{ basics.url }}">{{ basics.url }}</a>
    </span>
    {% endif %}
    {% if basics.location.countryCode %}
    <span id="location">
      {% if basics.location.city %}
      {{ basics.location.city }},
      {% endif %}
      {{ basics.location.countryCode }}
    </span>
    {% endif %}
  </address>
  {% endif %}
  {% if basics.profiles|length > 0 %}
  <div id="profiles" class="row center">
    {% for profile in basics.profiles %}
    <div class="logo">
      <a href="{{ profile.url }}">
        {% if profile.network|lower == "github" %}
        <img src="https://avatars.githubusercontent.com/u/9919" alt="GitHub logo">
        {% endif %}
        {% if profile.network == "LinkedIn" %}
        <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg"
          alt="LinkedIn logo">
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if basics.summary %}
  <div id="summary" class="secondary">
    {{ basics.summary }}
  </div>
  {% endif %}
</section>