<section id="basics">
  <header>
    <h2>About</h2>
    <div class="phi">
      <div class="img-cont">
        <img src="{{ basics.image }}">
      </div>
      <div class="flex column">
        <span class="xx-large">
          {{ basics.name }}
        </span>
        {% if basics.label %}
        <span class="x-large">
          {{ basics.label }}
        </span>
        {% endif %}
      </div>
    </div>

  </header>
  {% if basics.email or basics.phone or basics.url or basics.location.countryCode %}
  <address class="flex">
    {% if basics.email %}
    <span class="email">
      <a href="mailto:{{ basics.email }}">{{ basics.email }}</a>
    </span>
    {% endif %}
    {% if basics.phone %}
    <span class="phone">
      <a href="tel:{{ basics.phone }}">{{ basics.phone }}</a>
    </span>
    {% endif %}
    {% if basics.url %}
    <span class="url">
      <a href="{{ basics.url }}" target="_blank">{{ basics.url }}</a>
    </span>
    {% endif %}
    {% if basics.location.countryCode %}
    <span class="location">
      {% if basics.location.city %}
      {{ basics.location.city }},
      {% endif %}
      {{ basics.location.countryCode }}
    </span>
    {% endif %}
  </address>
  {% endif %}
  {% if basics.profiles|length > 0 %}
  <div class="flex">
    {% for profile in basics.profiles %}
    <div>
      <a href="{{ profile.url }}">
        {% if profile.network|lower == "github" %}
        <img class="icon" src="https://avatars.githubusercontent.com/u/9919" alt="GitHub logo">
        {% endif %}
        {% if profile.network == "LinkedIn" %}
        <img class="icon" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg"
          alt="LinkedIn logo">
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if basics.summary %}
  <p>
    {{ basics.summary }}
  </p>
  {% endif %}
</section>