{% if work|length > 0 %}
<section id="work">
  <header>
    <h2>Work experience</h2>
  </header>
  {% for experience in work %}
  <article>
    <header>
      <h3>
        {{ experience.position }}
      </h3>
      <div>
        <span>
          {{ experience.name }}
        </span>
        <span>
          (
          <time datetime="{{ experience.startDate }}">
            {{ experience.startDate }}
          </time>
          →
          {% if experience.endDate %}
          <time datetime="{{ experience.endDate }}">
            {{ experience.endDate }}
          </time>
          {% else %}
          <span>
            Ongoing
          </span>
          {% endif %}
          )
        </span>
      </div>
    </header>
    {% if experience.summary %}
    <p>
     {{ experience.summary }}
    </p>
    {% endif %}
    {% if experience.highlights|length > 0 %}
    <div class="flex highlights">
     {% for highlight in experience.highlights %}
       <span>
        {{ highlight }}
       </span>
     {% endfor %}
    </div>
    {% endif %}
  </article>
  {% endfor %}
</section>
{% endif %}
